/*font-family: 'Noto Sans JP', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Mono', monospace;
#f2ff68 - yellow
#eaddc6 - beige (for background?)
*/
html {
    background-color: #fff;
}

body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    /* font-size: 16px; */
    color: #375ae1;
    background-color: #fef4f3;
    border-radius: 15px;
}

h1, h2, h3, p {

    margin: 0;
}

*, *:before, *:after {
	box-sizing: border-box;
}

.main-wrapper {
    max-width: 900px;
    padding: 40px 50px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.header-text-wrapper {
    display: flex;
    flex-direction: column;
}

.header__photo {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

.header__contact {
    margin-top: 20px;
    position: relative;
    /* color: #f2ff68; */
}

.header__contact::before {
    position: absolute;
    left: 0;
    top: 22px;
    content: "";
    background-color: #f2ff68;
    width: 265px;
    height: 2px;
}

.about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section {
    padding-right: 40px;
    margin-bottom: 50px;
}

.about-block,
.education-block {
    width: 50%;
    order: 0;
}

.skills-block {
    width: 100%;
    order: 2;
}

.skills__code-fragment {
    /* color: #3f4ba4; */
    color: #fa7065;
    overflow: auto;
}

.heading {
    position: relative;
    margin-bottom: 30px;
    padding-left: 20px;
}

.heading::before {
    position: absolute;
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    top: 42%;
    left: 0;
    border-radius: 50%;
    background-color: #f2ff68;
}

.about__text {
    margin-bottom: 20px;
}

/* .footer {
    background-color: #f2ff68;
} */

.division {
    width: 100%;
    height: 15px;
    background-color: #f2ff68;
}

.socials__link {
    text-decoration: none;
}

.socials__link img {
    height: 40px;
    width: auto;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-top: 40px;
}


@media (max-width: 700px) {
    .about {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .about-block,
    .education-block {
        width: 100%;
        order: unset;
    }

    .skills-block {
        order: unset;
    }

    @media (max-width: 550px) {

        .main-wrapper {
            padding-left: 30px;
            padding-right: 30px;
        }

        .header {
            flex-direction: column;
            /* align-items: flex-start; */
        }

        .header__photo {
            margin-top: 40px;
        }

        .header__contact {
            font-size: 14px;
        }

        .header__contact::before {
            width: 95%;
        }

        section {
            padding-right: 0;
            margin-bottom: 30px;
        }
    }
}
